$primary-color :#333;


body {
  font: 100% Helvetica, sans-serif;
  color: $primary-color;
}
  
#container {
  margin-top: 45px; 
}
  
nav {
  font: 100% Helvetica, sans-serif; 
}

a{
  color: $primary-color;
  &:hover{
    color: $primary-color;
  }
}

