$primary-color :#333;


body {
  font: 100% Helvetica, sans-serif;
  color: $primary-color;
}
  
  
nav {
  font: 100% Helvetica, sans-serif; 
}

a{
  color: $primary-color;
  &:hover{
    color: $primary-color;
  }
}

.w-100{
  //width: 100vh!important;
  margin: auto!important;
}

#container{
  margin-top: 100px;
  margin: 100px;
}


